<section data-ng-controller="TimerButtonsController" class="dashboard">

  <div class="btn-group">
    <a ui-sref=".pomodoroTimer" id="pomodoroLink">
      <button type="button" class="btn btn-default">POMODORO</button>
    </a>
    <a ui-sref=".shortBreakTimer" id="shortBreakLink">
      <button type="button" class="btn btn-default">SHORT BREAK</button>
    </a>
    <a ui-sref=".longBreakTimer" id="longBreakLink">
      <button type="button" class="btn btn-default">LONG BREAK</button>
    </a>
  </div>

  <div ui-view></div>

</section>