<section>

  <p>DASHBOARD</p>

  <div data-ng-controller="TimerButtonController">
    <button ng-click="pomodoro()">Pomodoro</button>
    <button ng-click="shortBreak()">Short Break</button>
    <button ng-click="longBreak()">Long Break</button>

    <div data-ng-controller="TimerController" ng-show="pomodoroRunning" ng-hide="shortBreakRunning || longBreakRunning">
      <h2>Pomodoro</h2>
      <h3>
        <timer autostart="false" interval="1000" countdown="countdownPomodoro">
          {{mminutes}} : {{sseconds}} 
        </timer>
        <button ng-click="startTimer()">Start</button>
        <button ng-click="stopTimer()">Stop</button>
        <button ng-click="resetTimer('pomodoro')">Reset</button>
      </h3>
    </div>

    <div data-ng-controller="TimerController" ng-show="shortBreakRunning" ng-hide="pomodoroRunning || longBreakRunning">
      <h2>Short Break</h2>
      <h3>
        <timer autostart="false" interval="1000" countdown="countdownShortBreak">
          {{mminutes}} : {{sseconds}}
        </timer>
        <button ng-click="startTimer()">Start</button>
        <button ng-click="stopTimer()">Stop</button>
        <button ng-click="resetTimer('shortBreak')">Reset</button>
      </h3>
    </div>

    <div data-ng-controller="TimerController" ng-show="longBreakRunning" ng-hide="pomodoroRunning || shortBreakRunning">
      <h2>Long Break</h2>
      <h3>
        <timer autostart="false" interval="1000" countdown="countdownLongBreak">
          {{mminutes}} : {{sseconds}}
        </timer>
        <button ng-click="startTimer()">Start</button>
        <button ng-click="stopTimer()">Stop</button>
        <button ng-click="resetTimer('longBreak')">Reset</button>
      </h3>
    </div>

  </div>


</section>