<div class="timer">
<div data-ng-controller="TimerPomodoroController">
  <h2>Pomodoro</h2>
  <h3>
    {{countdown()}}
  </h3>
  <div class="btn-group">
    <button ng-click="startTimer()" class="btn btn-default">Start</button>
    <button ng-click="stopTimer()" class="btn btn-default">Stop</button>
    <button ng-click="resetTimer()" class="btn btn-default">Reset</button>
  </div>
</div>

<br>
<div data-ng-controller="TasksController" data-ng-init="find()" class="tasks">
  <h1>Tasks</h1>
  <form class="form-horizontal" data-ng-submit="create()" novalidate>
    <fieldset>
      <div class="form-group">
        <div class="controls">
            <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Type Task Here" required>
            <input type="submit" class="btn btn-default">
        </div>
      </div>
      <div data-ng-show="error" class="text-danger">
        <strong data-ng-bind="error"></strong>
      </div>
    </fieldset>
  </form>

  <div class="list-group">
    <div data-ng-repeat="task in tasks" class="list-group-item">
      <div class="task-container">
        <h4 class="list-group-item-heading" data-ng-bind="task.name"></h4>
        <a class="btn btn-primary" data-ng-click="remove(task)">
          <i class="glyphicon glyphicon-ok"></i>
        </a>
      </div>
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="task.created | date:'short'"></span>
      </small>
    </div>
  </div>
    <!--<div class="alert alert-warning text-center" data-ng-hide="!tasks.$resolved || tasks.length">
      No Tasks yet, why don't you <a href="/#!/tasks/create">create one</a>?
    </div>-->
</div>
</div>
