<div class="tagline">
	<h1>Bloc&nbsp;&nbsp;Pomodoro</h1>
	<h2>More productive with the Pomodoro Technique</h2>
	<div class="button-container">
		<a href="/#!/signup">
			<button type="button" class="btn btn-default">Get Started!</button>
		</a>
	</div>
</div>
<div class="main-image2">
</div>
<section data-ng-controller="HomeController">
	<div class="container main-image1">
		<div class="row">
			<div class="col-md-12">
				<img src="modules/core/img/pomodoro.png" />
			</div>
		</div>
	</div>
</section>
